<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Eagle Hunter	</title>
	<atom:link href="https://gitlab.com/khairulislamgx/eaglehunter.git/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://gitlab.com/khairulislamgx/eaglehunter.git/</link>
	<description></description>
	<lastBuildDate>2019-10-02 17:57:10</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.3</generator>
</channel>
</rss>
